# .NET
bin/
obj/
*.user
*.suo
*.DotSettings.user
out/

# Node
node_modules/
build/
dist/

# Env
.env

# Logs
*.log
logs/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.vscode/
.idea/
*.swp
